@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
    /* Start Card Components */
    .tw-card{
        @apply tw-w-full tw-max-w-7xl tw-mx-auto tw-p-6 tw-bg-[#575757] tw-shadow-lg tw-rounded-lg;
    }
    .tw-card-title{
        @apply tw-mb-4 tw-text-center tw-text-softgold
    }
    .tw-card-subtitle{
        @apply tw-mb-4 tw-text-center !tw-text-gray-300
    }
    /* End Card Components */
    /* Start Table Components */
    .tw-table{
        @apply tw-w-full tw-text-lg tw-text-left tw-text-gray-900
    }
    .tw-table-head{
        @apply tw-text-lg tw-text-[#d0ac7e] tw-uppercase tw-bg-[#818181]
    }
    .tw-table-row{
        @apply tw-bg-white tw-border-b tw-border-[#818181] last:tw-border-0 tw-text-justify
    }
    /* End Table Components */
    /* Start Tab Navigation Components */
    .tw-tab-nav{
        @apply tw-flex tw-border-b-2
    }

    .tw-tab-nav-active{
        @apply tw-px-4 tw-py-2 tw-text-[#BC8947] hover:tw-text-[#c9a06b] tw-font-semibold tw-border-b-2 tw-border-[#BC8947]
    }

    .tw-tab-nav-deactive{
        @apply tw-px-4 tw-py-2 tw-text-softgold hover:tw-text-[#c9a06b]
    }
    /* End Tab Navigation Components */
    /* Start Section Component  */
    .tw-section-dark{
        @apply tw-border tw-border-x tw-border-[#2E2E2E] tw-bg-[#2E2E2E]
    }
    /* End Section Component */
}